<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1088812474086-3e426g718o6k5bu9vb7343stc376b193.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1088812474086-3e426g718o6k5bu9vb7343stc376b193</string>
	<key>API_KEY</key>
	<string>AIzaSyAJVANX5BIMBLOrN2W1tyyrQ3TpmhSmvNI</string>
	<key>GCM_SENDER_ID</key>
	<string>1088812474086</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uasMade2</string>
	<key>PROJECT_ID</key>
	<string>uasmade2</string>
	<key>STORAGE_BUCKET</key>
	<string>uasmade2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088812474086:ios:146959dd1ecf4a7647e527</string>
</dict>
</plist>